@charset "utf-8";
/* 공통 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol
fieldset, form, label, legend,button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
    margin: 0; padding: 0;
}
input[type=button], input[type=submit] { cursor: pointer;}
/* 메인 */
#wrap { width: 100%; height:100%;}
.mLogo img { vertical-align: top; padding-left: 30px; padding-top: 30px;}
ul, ol, li { list-style: none; }
.mHead { float: right;}
.mHead li { border: 2px solid white; font-weight: bold; color: red; background-color: white; display: inline-block; border-radius: 5%; margin: 30px 30px; padding: 10px}
.mHead li a { padding: 0 30px; font-family: Arial, Helvetica, sans-serif;}
a:link { text-decoration: none;}
a:visited {  text-decoration: none;}
li:hover { background-color: #ffd7dd; color: white; text-decoration: none; border: 2px solid #ffd7dd;}
a:hover { text-decoration: none; color: white;}
#wrap { background: url(../img/rmain.png) no-repeat; background-size: cover; width: 100%; height: 969px; background-position: center; display: inline-block;}
#mText {display: inline-block; margin-left: 550px; margin-top: 400px;}
#mText h2 {color: #F3D2F1; font-size: 80px; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif;}
#mText p { margin-top: 15px; padding-left: 150px; font-size: 40; color: #F3D2F1; font-family: Arial, Helvetica, sans-serif;}

@media screen and (max-width: 768px){
    body{
        background: #9b7199;
    }
    #wrap{width: 100%; height: 100%;

    }
    .mLogo img { position: absolute; margin-left: 140px; width: 30%; height: 180px; }
    #mText{ position: absolute; margin: 0 auto; display: inline-block; height: 420px; text-align: center;}
    #mText h2 {color: #F3D2F1; font-size: 80px; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; margin-top: 300px; margin-left:20px;}
    #mText p { margin-top: 15px; padding-left: 10px; font-size: 40; color: #F3D2F1; font-family: Arial, Helvetica, sans-serif; }
    .mHead { position: absolute; width: 50%;}
    .mHead .MbtnLogin { position: absolute; margin-left: 90px; text-align: center; border-radius: 0; font-size: 1.5rem; margin-top: 600px; width: 70%;}
    .mHead .MbtnJoin { position: absolute; margin-top: 700px; margin-left: 90px;  text-align: center; border-radius: 0; font-size: 1.5rem; width: 70%;}
}